.page-header {
	.logo {
		display: flex;
		align-items: center;
		line-height: 1;
		color: $color-company;
		&__image {
		    flex: none;
		    width: 40px;
		    max-height: 38px;
		}
	}
	.app-name {
		font-size: 17px;
		font-weight: 500;
		color: $color-company;
	}
	.page-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 35px 0 25px;
		border-bottom: 1px solid $color-company;
	}
	@include r($bp-desktop-md) {
		.page-container {
			padding: 25px 0;
		}
	}
	@include r($bp-tab-sm) {
		.page-container {
			padding: 20px 0;
		}
	}
	@include r($bp-phone-md) {
		.app-name {
			margin-top: 12px;
		}
		.page-container {
			padding: 14px 0 17px;
			flex-direction: column;
		}
	}
}